/* configuraciones generales */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100vh;
  width: 100vw;
}

main {
  width: 100%;
}

.mt-1 {
  margin-top: 5px;
}

.mt-5 {
  margin-top: 20px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-5 {
  margin-bottom: 20px;
}

.pointer {
  cursor: pointer;
}

.auth__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #5C62C5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
  height: 100vh;
  width: 100%;
}

.auth__box-container {
  background-color: white;
  -webkit-box-shadow: 0px 3px #363636;
          box-shadow: 0px 3px #363636;
  border-radius: 2px;
  padding: 20px;
  width: 250px;
}

.auth__title {
  color: #31368a;
  margin-bottom: 20px;
}

.auth__input {
  color: #363636;
  border: 0px;
  border-bottom: 1px solid #d8d8d8;
  font-size: 16px;
  margin-bottom: 10px;
  height: 20px;
  width: 100%;
  -webkit-transition: border-bottom .3s ease;
  transition: border-bottom .3s ease;
}

.auth__input:focus {
  border-bottom: 1px solid #5C62C5;
  outline: none;
}

.auth__social-networks {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.auth__alert-error {
  background-color: red;
  border-radius: 5px;
  color: aliceblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
  padding: 5px;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
body,
input {
  font-family: "Poppins", sans-serif;
}

.containerAuth {
  position: relative;
  width: 100%;
  background-color: #564c64;
  min-height: 100vh;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  -webkit-transition: 1s 0.7s ease-in-out;
  transition: 1s 0.7s ease-in-out;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0rem 5rem;
  -webkit-transition: all 0.2s 0.7s;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  color: white;
  margin-bottom: 10px;
}

/* .auth2__input{
    width: 90%;
} */
.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 85%;
      grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::-webkit-input-placeholder {
  color: #aaa;
  font-weight: 500;
}

.input-field input:-ms-input-placeholder {
  color: #aaa;
  font-weight: 500;
}

.input-field input::-ms-input-placeholder {
  color: #aaa;
  font-weight: 500;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
  color: whitesmoke;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social-icon:hover {
  color: red;
  border-color: red;
}

.btnAuth {
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btnAuth:hover {
  background-color: #4d84e2;
}

.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.containerAuth:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #4481eb 0%, #1321EA 100%);
  -webkit-transition: 1.8s ease-in-out;
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image {
  width: 100%;
  -webkit-transition: -webkit-transform 1.1s ease-in-out;
  transition: -webkit-transform 1.1s ease-in-out;
  transition: transform 1.1s ease-in-out;
  transition: transform 1.1s ease-in-out, -webkit-transform 1.1s ease-in-out;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #fff;
  -webkit-transition: -webkit-transform 0.9s ease-in-out;
  transition: -webkit-transform 0.9s ease-in-out;
  transition: transform 0.9s ease-in-out;
  transition: transform 0.9s ease-in-out, -webkit-transform 0.9s ease-in-out;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btnAuth.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.right-panel .image,
.right-panel .content {
  -webkit-transform: translateX(800px);
          transform: translateX(800px);
}

.containerAuth.sign-up-mode:before {
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
  right: 52%;
}

.containerAuth.sign-up-mode .left-panel .image,
.containerAuth.sign-up-mode .left-panel .content {
  -webkit-transform: translateX(-800px);
          transform: translateX(-800px);
}

.containerAuth.sign-up-mode .signin-signup {
  left: 25%;
}

.containerAuth.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.containerAuth.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.containerAuth.sign-up-mode .right-panel .image,
.containerAuth.sign-up-mode .right-panel .content {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.containerAuth.sign-up-mode .left-panel {
  pointer-events: none;
}

.containerAuth.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .containerAuth {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
    -webkit-transition: 1s 0.8s ease-in-out;
    transition: 1s 0.8s ease-in-out;
  }
  .signin-signup,
  .containerAuth.sign-up-mode .signin-signup {
    left: 50%;
  }
  .panels-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 2fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;
  }
  .panel {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2.5rem 8%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .right-panel {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  .left-panel {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .image {
    width: 200px;
    -webkit-transition: -webkit-transform 0.9s ease-in-out;
    transition: -webkit-transform 0.9s ease-in-out;
    transition: transform 0.9s ease-in-out;
    transition: transform 0.9s ease-in-out, -webkit-transform 0.9s ease-in-out;
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }
  .panel .content {
    padding-right: 15%;
    -webkit-transition: -webkit-transform 0.9s ease-in-out;
    transition: -webkit-transform 0.9s ease-in-out;
    transition: transform 0.9s ease-in-out;
    transition: transform 0.9s ease-in-out, -webkit-transform 0.9s ease-in-out;
    -webkit-transition-delay: 0.8s;
            transition-delay: 0.8s;
  }
  .panel h3 {
    font-size: 1.2rem;
  }
  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }
  .btnAuth.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }
  .containerAuth:before {
    width: 1500px;
    height: 1500px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    -webkit-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
  }
  .containerAuth.sign-up-mode:before {
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }
  .containerAuth.sign-up-mode .left-panel .image,
  .containerAuth.sign-up-mode .left-panel .content {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
  .containerAuth.sign-up-mode .right-panel .image,
  .containerAuth.sign-up-mode .right-panel .content {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .right-panel .image,
  .right-panel .content {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
  }
  .containerAuth.sign-up-mode .signin-signup {
    top: 5%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .containerAuth {
    padding: 1.5rem;
  }
  .containerAuth:before {
    bottom: 72%;
    left: 50%;
  }
  .containerAuth.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}

.colorBtn {
  background-color: #5C62C5;
}

.btns {
  background-color: transparent;
  border: none;
  color: aliceblue;
  cursor: pointer;
  font-size: 12px;
  padding: 7px 10px 7px 10px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.btns:focus {
  outline: none;
}

.btns:hover {
  color: black;
}

.btns-primary {
  background-color: #5C62C5;
  border-radius: 4px;
}

.btns-primary:disabled {
  background-color: #9498d9;
}

.btns-primary:hover {
  background-color: #383e9d;
}

.btns-block {
  width: 100%;
}

.google-btns {
  cursor: pointer;
  margin-top: 5px;
  width: 100%;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: -webkit-box-shadow .3s ease;
  transition: -webkit-box-shadow .3s ease;
  transition: box-shadow .3s ease;
  transition: box-shadow .3s ease, -webkit-box-shadow .3s ease;
}

.google-btns .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}

.google-btns .google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}

.google-btns .btns-text {
  float: right;
  margin: 11px 40px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
}

.google-btns:hover {
  -webkit-box-shadow: 0 0 6px #4285f4;
          box-shadow: 0 0 6px #4285f4;
}

.google-btns:active {
  background: #1669f2;
}

.link {
  color: #363636;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.journal__main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.journal__sidebar {
  background-color: #363636;
  color: aliceblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  padding-left: 10px;
  padding-right: 10px;
  width: 450px;
}

.journal__sidebar-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.journal__sidebar-navbar h3 {
  font-weight: lighter;
}

.journal__new-entry {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  width: 50%;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.journal__new-entry:hover {
  color: #cccccc;
}

.journal__entries {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-top: 30px;
  overflow-y: scroll;
}

.journal__entry {
  background-color: aliceblue;
  border-radius: 4px;
  color: #363636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  overflow: hidden;
}

.journal__entry-picture {
  height: 75px;
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.journal__entry-body {
  padding: 10px;
}

.journal__entry-tittle {
  font-size: 14px;
  font-weight: bold;
}

.journal__entry-content {
  font-size: 10px;
  text-align: justify;
}

.journal__entry-date-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  font-size: 10px;
}

.journal__entry-date-box span {
  font-size: 12px;
}

.NothingSelected__main-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5C62C5;
  color: aliceblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
}

.NothingSelected__main-content p {
  text-align: center;
}

.notes__main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.notes__appbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5C62C5;
  color: aliceblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px 10px 20px;
}

.notes__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 20px;
}

.notes__title-input, .notes__textarea {
  border: none;
}

.notes__title-input:focus, .notes__textarea:focus {
  outline: none;
}

.notes__title-input {
  color: #363636;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.notes__textarea {
  border: none;
  color: #363636;
  font-size: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  resize: none;
}

.notes__image img {
  -webkit-box-shadow: 5px 5px #363636;
          box-shadow: 5px 5px #363636;
  height: 150px;
}

/* .NavBar{
    background-color: azure;
    color: black;
    display: flex;
    text-align: center;
} */
/* CORE STYLES */
:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(13, 110, 139, 0.75);
  --menu-speed: 0.75s;
}

/*  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
/*  body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
  } */
.containerApp {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

.colorText {
  color: black;
  font-size: 30px;
  margin-right: 10px;
}

.showcase {
  background: var(#5C62C5);
  color: #fff;
  height: 100vh;
  position: relative;
}

.showcase:before {
  content: '';
  background: url("https://images.pexels.com/photos/533923/pexels-photo-533923.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat center center/cover;
  position: absolute;
  top: 10;
  left: 10;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.showcase .showcase-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 100%;
}

.showcase h1 {
  font-size: 4rem;
}

.showcase p {
  font-size: 1.3rem;
}

.btn {
  display: inline-block;
  border: none;
  background: var(#5C62C5);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.7;
}

/* MENU STYLES */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: var(--menu-speed);
          transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 1;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.homeScreem {
  height: 100vh;
  background-image: url("https://i.pinimg.com/originals/af/8d/63/af8d63a477078732b79ff9d9fc60873f.jpg");
  /* background-image: url('../../assets/images/ns.jpg'); */
  background-color: #031f4d;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* min-height: 660px; */
}

.cardProducto {
  border-radius: 103px;
  width: 100%;
  /* align-items: center; */
  border-radius: 30px;
}

.card-img-top {
  width: 90% !important;
}

.card-body, h5, p {
  color: aliceblue;
}
/*# sourceMappingURL=styles.css.map */