.App {
  text-align: center;
  /* height: 100vw; */
  background-image: url('../assets//Iconos/Textura_Fondo.png');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: -7px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* start styles login */
.modalIngrearUserExt_inLogin{
  height: 100vh;
  background-color: transparent;
  width: 25%;
  margin-left: 35%;
  padding-top: 8%;
}

.modalLogin{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.sombra{
  -webkit-box-shadow: -4px 6px 11px 5px rgba(0,0,0,0.37); 
  box-shadow: -4px 6px 11px 5px rgba(0,0,0,0.37);
}

/* end styles login */

