.MuiDataGrid-root .MuiDataGrid-cellLeft {
    text-align: center !important;
}

.makeStyles-formControl-7 {
    margin: 0px !important;
}

.MuiInputBase-input {
    height: 0.1876em !important;
}

.MuiDataGrid-root .MuiDataGrid-colCellTitleContainer {
    text-align: center !important;
}