.MuiDataGrid-root .MuiDataGrid-cellLeft {
    text-align: center !important;
}

.makeStyles-formControl-7 {
    margin: 0px !important;
}

.MuiInputBase-input {
    height: 0.1876em !important;
}

.MuiDataGrid-root .MuiDataGrid-colCellTitleContainer {
    text-align: center !important;
}

.MuiDataGrid-root .MuiDataGrid-colCellTitleContainer {
    display: block !important;
}

.MuiDataGrid-root .MuiDataGrid-cellWithRenderer {
    display: block !important;
}

.makeStyles-formControl-14 {
    margin: 0px !important;
}

.MuiSwitch-colorSecondary.Mui-checked {
    color: var(--primario) !important;
}

.MuiSwitch-colorSecondary.Mui-checked+.MuiSwitch-track {
    color: var(--secundario) !important;
}