.footer {
    background-color: #80808070;
    bottom: 0;
    font-size: small;
    height: 5%;
    padding: 1px 60px 50px 60px;
    position: fixed;
    width: 100%;
}

footer p {
    line-height: inherit;
}