.footer {
    background-color: var(--fondo2);
    bottom: 0;
    font-size: small;
    height: 5%;
    padding: 1px 60px 50px 60px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

footer p {
    line-height: inherit;
}