.menuNavbar {
    background-image: url('../assets/images/Banner.png');
    background-repeat: round;
    background-size: cover;
    /* position: fixed;
    width: -webkit-fill-available; */
}

.menu-menuNavbar {
    display: flex;
    justify-content: space-between;
    height: 95px;
}

.login-menuNavbar {
    background-color: var(--fondo1);
    display: flex;
    justify-content: space-between;
    /* font-style: italic; */
}

.btn-menuNavbar {
    background: #633e3e63;
    border: none;
    color: cornsilk;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 5px;
    padding: 5px;
}

.btn-menuNavbar:hover {
    background: var(--secundario);
}

.btn-menuNavbar__pressed {
    background: var(--primario);
}

.fecha-menuNavbar {
    align-self: flex-end;
}

.menu-menuNavbar__btns {
    min-width: 350px;
}

.nombreProyecto {
    background-color: var(--secundario);
    padding: 1px 10px;
    margin-left: -5px;
}

.proyecto {
    background-color: var(--primario);
    padding: 1px 10px;
}

@media screen and (max-width: 992px) {
    .menuNavbar {
        background-repeat: no-repeat;
    }
    .titulo {
        font-size: small;
    }
    .fecha-menuNavbar {
        font-size: small;
    }
    .menu-menuNavbar {
        flex-direction: column-reverse;
    }
    .menu-menuNavbar__btns {
        align-self: auto;
    }
    .menu-menuNavbar__titulo {
        align-self: flex-end;
    }
}