.menu {
    color: white;
}

.menuHover {
    background-color: var(--primario) !important;
}

.iconMenu {
    margin: 0px !important;
    padding: 0px !important;
    background: var(--primario) !important;
    color: black !important;
}

.MuiListItem-root {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    transition: background-color 0.5s ease !important;
}

.MuiListItem-root:hover {
    background-color: var(--primario) !important;
}

.MuiList-padding {
    margin-bottom: 100px !important;
}

.makeStyles-toolbar-38 {
    padding: 0px !important;
}

.MuiInputLabel-outlined {
    z-index: 0 !important;
}

.MuiDrawer-paperAnchorLeft {
    background: var(--fondo2) !important;
}

.makeStyles-toolbar-18 {
    padding: 0px !important;
}

.makeStyles-toolbar-32 {
    padding: 0px !important;
}

.MuiDrawer-paperAnchorDockedLeft {
    height: 100vh !important;
}