.menuNavbar {
    background-image: url('../assets/images/Banner.png');
    background-repeat: round;
    background-size: cover;
}

.menu-menuNavbar {
    display: flex;
    justify-content: space-between;
    height: 95px;
}

.login-menuNavbar {
    background-color: #80808070;
    display: flex;
    justify-content: flex-end;
    font-style: italic;
}

.btn-menuNavbar {
    background: #633e3e63;
    border: none;
    color: cornsilk;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
}

.btn-menuNavbar:hover {
    background: rgb(99, 62, 62);
}

.btn-menuNavbar__pressed {
    background: var(--primario);
}

.fecha-menuNavbar {
    align-self: flex-end;
}

.menu-menuNavbar__btns {
    min-width: 350px;
}

@media screen and (max-width: 992px) {
    .menuNavbar {
        background-repeat: no-repeat;
    }
    .titulo {
        font-size: small;
    }
    .fecha-menuNavbar {
        font-size: small;
    }
    .menu-menuNavbar {
        flex-direction: column-reverse;
    }
    .menu-menuNavbar__btns {
        align-self: auto;
    }
    .menu-menuNavbar__titulo {
        align-self: flex-end;
    }
}