.ModuloAdministracion {
    height: 100vh;
}

.menu2Admin {
    display: flex;
    align-items: center;
}

.menu2Admin-breadcrumb {
    margin-left: 10% !important;
}

.btn-menu {
    background: #633e3e63;
    border: none;
    color: cornsilk;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    margin: 5px;
    padding: 0px;
    border-radius: 10px;
}

.btn-menu:hover {
    background: var(--secundario);
}