.paraSis-textArea {
    height: 150px;
}

.MuiOutlinedInput-multiline {
    height: 100%
}

.MuiOutlinedInput-inputMultiline {
    height: 100% !important;
}

@media screen and (max-width: 992px) {
    .contenedor {
        display: flex;
        flex-direction: column;
    }
}