
.cardProducto{    
    border-radius: 103px;
    width: 100%;
    /* align-items: center; */
    border-radius: 30px;   
}

.card-img-top{
    width: 90% !important;
  }

  .card-body, h5, p {
    color: aliceblue;
  }

  